.eutcsv_leave_review {
    background-color: #d1ead3;
    border-left-color: #68bb6c;
    color: #2b5f2d;
    border-style: solid;
    border-width: 0 0 0 12px;
    display: block;
    margin-bottom: 24px;
    padding: 12px 20px;
    line-height: 0.7;
    font-size: 110%;
}

ul#users-filters li {
    line-height: 2rem;
}

#users-filters li label {
    width: 150px;
    display: inline-block;
}

#users-filters li input[type="checkbox"] {
    margin: 0 6px 0 0;
}

#users-filters li input[type="checkbox"] + span {
    position: relative;
    top: 2px;
}

#users-filters li input.select2-search__field {
    min-width: 200px;
}

ul.select2-results__options li[aria-selected="true"] {
    background: #aaa;
    color: #999999;
}

#export-filters li select {
    margin-left: 0;
    position: relative;
    left: -4px;
}